<section id="about">
  <div class="row my-5">
    <div class="col-12">
      <div class="container">
        <div class= "text-center" id="about">
          <h2>About</h2>
          <p>I'm a full-stack web developer with a background in education and a degree in International Business Management. My teaching experience sharpened my communication and problem-solving skills, while my business studies taught me strategic thinking and teamwork. After graduating from Le Wagon, I developed expertise in Ruby on Rails, JavaScript, HTML, CSS, and Bootstrap. I’m passionate about building clean, user-friendly applications and eager to contribute as a full-stack developer. 🚀</p>
        </div>
      </div>
    </div>
  </div>
</section>
