<section id="about" class="mt-5">
  <h2 class="text-center my-5">About</h2>
  <div class="container">
    <div class="row">
      <div class="profile text-center mb-5 rounded-2 col-12 col-lg-4 scroll-animate">
        <div class="mb-3">
          <div class="position-relative">
            <%= image_tag 'yu500.png', alt: "profile photo", class: 'avatar mb-3' %>
          </div>
          <h4>Yu Sekiguchi</h4>
          <p class="mb-0">Full-stack Developer</p>
        </div>
        <div>
          <div class="card-category">
            <div class="text-start">
              <p><strong>Languages & Frameworks:</strong></p>
              <span>Ruby on Rails, JavaScript, HTML, CSS, SQL, Hotwire (Turbo/Stimulus), Bootstrap, REST APIs</span>
            </div>
          </div>
          <div class="card-category">
            <div class="text-start">
              <p><strong>Tools:</strong></p>
              <span>Git/GitHub, Postman, Heroku, Netlify, Notion, Figma, Canva</span>
            </div>
          </div>
          <div class="card-category">
            <div class="text-start">
              <p><strong>Currently Learning:</strong></p>
              <span>Node.js, Express.js, React, Tailwind CSS</span>
            </div>
          </div>
        </div>
        <div class="contact mt-5">
          <div class="d-flex justify-content-center flex-wrap">
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-solid fa-envelope"></i>
              <%= mail_to "yusekiguchi.dev@gmail.com", "", class: 'button-social-link' %>
            </div>
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-brands fa-github"></i>
              <%= link_to "", "https://github.com/yu2111", target: '_blank', class: 'button-social-link' %>
            </div>
            <div class="button-social d-flex flex-column justify-content-center align-items-center">
              <i class="fa-brands fa-linkedin"></i>
              <%= link_to "", "https://www.linkedin.com/in/yu-sekiguchi/", target: '_blank', class: 'button-social-link' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 scroll-fade">
        <div class= "about text-start">
          <h4>About Me</h4>
          <p>I'm a full-stack web developer with a background in education and a degree in International Business Management. My teaching experience sharpened my communication and problem-solving skills, while my business studies taught me strategic thinking and teamwork.
          </p>
          <p>
            After graduating from Le Wagon, I developed expertise in Ruby on Rails, JavaScript, HTML, CSS, and Bootstrap. I’m passionate about building clean, user-friendly applications and eager to contribute as a full-stack developer. 🚀
          </p>
        </div>
        <div>
          <div class="info">
            <div class="card-category scroll-slide">
              <i class="fa-solid fa-location-dot"></i>
              <div class="text-start">
                <p>Based In</p>
                <span><strong>Kanagawa, Japan</strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide" >
              <i class="fa-solid fa-passport"></i>
              <div class="text-start">
                <p>Nationality</p>
                <span><strong>Japanese</strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide" >
              <i class="fa-solid fa-graduation-cap"></i>
              <div class="text-start">
                <p>Degree</p>
                <span><strong>Bachelor of Economics in International Business Management</strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide">
              <i class="fa-solid fa-envelope"></i>
              <div class="text-start">
                <p>Email</p>
                <span><strong>yusekiguchi.dev@gmail.com</strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide">
              <i class="fa-solid fa-calendar-check"></i>
              <div class="text-start">
                <p>Availability</p>
                <span><strong>Open to work</strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide">
              <i class="fa-solid fa-language"></i>
              <div class="text-start">
                <p>Languages</p>
                <span><strong>English, Bahasa Indonesia, Japanese</strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide">
              <i class="fa-solid fa-camera"></i>
              <div class="text-start">
                <p>Photography</p>
                <span><strong><a href="https://vsco.co/yu-sekiguchi/gallery" target="_blank">vsco.co/yu-sekiguchi/gallery</a></strong></span>
              </div>
            </div>
            <div class="card-category scroll-slide">
              <i class="fa-solid fa-chess-knight"></i>
              <div class="text-start">
                <p>Chess</p>
                <span><strong><a href="https://chess.com/member/yuuu23" target="_blank">chess.com/member/yuuu23</a></strong></span>
              </div>
            </div>
          </div>
        </div>
        <%# <div class="card-category scroll-fade languages">
          <i class="fa-solid fa-code"></i>
          <%# <div class="text-start">
            <p>Languages & Frameworks:</p>
            <span><strong><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><g fill="#c00" clip-path="url(#a)"><path d="M87.042 62.589v4.572h8.26c1.692 0 4.597-1.238 4.698-4.699v-1.768c0-2.955-2.425-4.698-4.698-4.698h-4.117v-2.122h8.158v-4.597h-7.83c-2.02 0-4.723 1.667-4.723 4.774v1.591c0 3.107 2.677 4.699 4.723 4.699 5.683.025-1.364 0 3.89 0v2.222zM42.79 61.477s4.42-.379 4.42-6.087-5.355-6.24-5.355-6.24h-9.649v18.01h4.85v-4.344l4.193 4.344h7.173zm-1.87-3.688h-3.864v-4.117h3.89s1.086.404 1.086 2.046-1.112 2.071-1.112 2.071m18.263-8.512h-4.926c-3.51 0-4.698 3.183-4.698 4.698V67.16h4.925v-3.157h4.623v3.157h4.774V53.976c0-3.839-3.486-4.698-4.698-4.698m-.076 9.624h-4.648v-4.37s0-.985 1.541-.985h1.692c1.364 0 1.39.985 1.39.985v4.37zm7.022-9.624h5.127V67.16h-5.127zm12.326 13.261v-13.26h-5.102V67.16H85.35v-4.623z"/><path d="M1.768 67.16h19.955s-3.814-17.403 8.815-24.45c2.753-1.339 11.518-6.34 25.865 4.269.455-.38.884-.682.884-.682s-13.134-13.11-27.76-11.645c-7.35.657-16.392 7.35-21.697 16.191S1.768 67.16 1.768 67.16"/><path d="M1.768 67.16h19.955s-3.814-17.403 8.815-24.45c2.753-1.339 11.518-6.34 25.865 4.269.455-.38.884-.682.884-.682s-13.134-13.11-27.76-11.645c-7.35.657-16.392 7.35-21.697 16.191S1.768 67.16 1.768 67.16"/><path d="M1.768 67.16h19.955s-3.814-17.403 8.815-24.45c2.753-1.339 11.518-6.34 25.865 4.268.455-.378.884-.681.884-.681s-13.134-13.11-27.76-11.645c-7.375.657-16.418 7.35-21.722 16.191S1.768 67.16 1.768 67.16m41.576-31.093.101-1.693c-.227-.126-.858-.43-2.45-.884l-.1 1.667c.833.278 1.64.581 2.45.91"/><path d="m40.945 41.422-.101 1.59q1.25.039 2.5.304l.101-1.566a18 18 0 0 0-2.5-.328m-9.346-7.881h.253L31.346 32q-1.174 0-2.425.152l.48 1.49a21 21 0 0 1 2.198-.101m1.212 9.295.581 1.743a16 16 0 0 1 2.198-.884l-.556-1.667c-.859.252-1.591.53-2.223.808m-11.467-6.643-1.137-1.743c-.631.328-1.288.682-1.97 1.086l1.162 1.768a25 25 0 0 1 1.945-1.111m5.178 11.367 1.212 1.818c.43-.631.935-1.212 1.49-1.793l-1.136-1.718a14 14 0 0 0-1.566 1.693m-3.663 8.133 2.046 1.616q.152-1.478.53-2.955l-1.818-1.44c-.328.935-.556 1.87-.758 2.779M11.796 43.695l-1.793-1.566a44 44 0 0 0-1.87 1.894l1.945 1.667a26 26 0 0 1 1.718-1.995m-7.628 11.29-2.905-1.06C.783 55.01.253 56.274 0 56.955l2.905 1.062c.328-.86.859-2.097 1.263-3.031M22.48 62.11c.05 1.338.177 2.425.303 3.182l3.032 1.086a33 33 0 0 1-.607-3.283z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h100v100H0z"/></clipPath></defs></svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><g clip-path="url(#a)"><path fill="#f7df1e" d="M100 0H0v100h100z"/><path fill="#000" d="M67.175 78.125c2.014 3.29 4.635 5.707 9.27 5.707 3.893 0 6.38-1.946 6.38-4.635 0-3.222-2.555-4.364-6.84-6.238l-2.35-1.008c-6.781-2.89-11.286-6.508-11.286-14.159 0-7.047 5.37-12.413 13.762-12.413 5.975 0 10.27 2.08 13.365 7.524l-7.317 4.699c-1.611-2.89-3.35-4.027-6.048-4.027-2.752 0-4.497 1.746-4.497 4.027 0 2.819 1.746 3.96 5.778 5.706l2.35 1.006c7.983 3.424 12.491 6.915 12.491 14.762 0 8.46-6.646 13.096-15.571 13.096-8.727 0-14.365-4.16-17.124-9.61zm-33.196.815c1.477 2.619 2.82 4.833 6.048 4.833 3.087 0 5.035-1.208 5.035-5.905V45.916h9.397v32.08c0 9.73-5.705 14.158-14.032 14.158-7.524 0-11.881-3.894-14.097-8.583z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h100v100H0z"/></clipPath></defs></svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="#e44d26" d="M14.021 90.034 6 0h88.187l-8.022 89.985L50.02 100"/><path fill="#f16529" d="M50.093 92.344V7.39h36.048l-6.88 76.811"/><path fill="#ebebeb" d="M22.383 18.4h27.71v11.036H34.488L35.51 40.74h14.584v11.01H25.397zm3.5 38.893h11.084l.778 8.823 12.348 3.306v11.521l-22.654-6.32"/><path fill="#fff" d="M77.706 18.4H50.044v11.036h26.64zm-2.018 22.34H50.044v11.035h13.612l-1.288 14.341-12.324 3.306v11.473l22.606-6.271"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="#264de4" d="m94.175 0-8.033 89.99L50.034 100l-36.01-9.996L6 0z"/><path fill="#2965f1" d="m79.265 84.26 6.864-76.9H50.087v84.988z"/><path fill="#ebebeb" d="m24.396 40.74.99 11.039h24.702V40.74zm25.692-22.342h-27.68l1.003 11.038h26.676zm-.001 62.495V69.408l-.048.013-12.294-3.32-.786-8.803H25.878l1.547 17.332 22.612 6.277z"/><path fill="#fff" d="m63.642 51.779-1.281 14.316-12.312 3.323v11.484l22.63-6.272.166-1.865 2.594-29.06.27-2.965L77.7 18.398H50.05v11.038h15.555L64.599 40.74H50.05v11.04z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="#000" d="M98.472 59.902c-.582-1.766-2.105-2.995-4.074-3.29-.929-.14-1.992-.08-3.251.18-2.194.454-3.821.627-5.009.66 4.483-7.59 8.129-16.246 10.227-24.393 3.394-13.175 1.58-19.177-.539-21.892C90.218 3.981 82.036.121 72.166.003c-5.267-.065-9.89.978-12.3 1.728-2.246-.398-4.66-.62-7.193-.66-4.749-.076-8.944.962-12.529 3.095a57 57 0 0 0-8.848-2.227C22.644.514 15.672 1.624 10.57 5.237c-6.175 4.375-9.038 11.975-8.509 22.59.168 3.37 2.048 13.625 5.009 23.35 1.701 5.59 3.515 10.232 5.392 13.798 2.661 5.058 5.51 8.035 8.706 9.105 1.792.599 5.048 1.018 8.472-1.842.434.527 1.013 1.05 1.782 1.537.976.618 2.17 1.122 3.361 1.42 4.296 1.078 8.319.808 11.752-.701.02.612.037 1.197.05 1.702.023.82.046 1.623.076 2.374.203 5.08.548 9.029 1.57 11.792.055.152.13.384.21.63.51 1.564 1.361 4.182 3.529 6.232C54.215 99.35 56.929 100 59.415 100c1.247 0 2.437-.164 3.48-.388 3.72-.8 7.944-2.017 11-6.38 2.889-4.125 4.293-10.337 4.547-20.126l.093-.793.06-.517.68.06.176.012c3.788.173 8.42-.633 11.265-1.958 2.248-1.046 9.452-4.86 7.756-10.008"/><path fill="#336791" d="M91.994 60.903c-11.264 2.33-12.038-1.494-12.038-1.494C91.848 41.713 96.82 19.251 92.53 13.753 80.825-1.243 60.564 5.85 60.226 6.033l-.109.02c-2.225-.463-4.716-.74-7.515-.785-5.096-.084-8.963 1.34-11.896 3.57 0 0-36.145-14.93-34.463 18.78.357 7.17 10.25 54.262 22.05 40.039 4.313-5.202 8.48-9.6 8.48-9.6 2.07 1.38 4.547 2.082 7.145 1.83l.202-.172c-.063.646-.034 1.277.08 2.025-3.04 3.406-2.146 4.004-8.223 5.258-6.149 1.271-2.537 3.533-.178 4.125 2.859.717 9.474 1.732 13.943-4.542l-.178.716c1.19.957 2.027 6.222 1.887 10.996-.14 4.773-.234 8.05.704 10.61.94 2.56 1.874 8.32 9.863 6.604 6.674-1.435 10.134-5.152 10.615-11.353.341-4.407 1.114-3.756 1.163-7.697l.62-1.865c.715-5.976.113-7.904 4.225-7.007l1 .088c3.027.138 6.988-.488 9.313-1.572 5.007-2.33 7.976-6.22 3.04-5.198"/><path fill="#fff" d="M42.821 30.825c-1.015-.142-1.934-.011-2.4.342a.88.88 0 0 0-.364.587c-.058.42.235.884.415 1.123.51.678 1.255 1.143 1.992 1.246q.16.022.319.022c1.229 0 2.347-.96 2.445-1.668.123-.887-1.161-1.479-2.407-1.652m33.627.028c-.097-.696-1.33-.894-2.502-.73-1.17.162-2.303.692-2.209 1.389.076.542 1.052 1.467 2.207 1.467q.146 0 .296-.02c.77-.108 1.337-.599 1.605-.882.41-.431.647-.912.603-1.224"/><path fill="#fff" d="M95.743 60.639c-.43-1.303-1.812-1.721-4.109-1.246-6.82 1.411-9.262.434-10.063-.158 5.3-8.098 9.66-17.886 12.013-27.018 1.114-4.326 1.73-8.343 1.78-11.618.056-3.594-.555-6.235-1.814-7.848-5.075-6.505-12.526-9.993-21.544-10.09-6.2-.069-11.437 1.522-12.453 1.97a31 31 0 0 0-7.008-.903c-4.654-.076-8.677 1.042-12.007 3.32a53.5 53.5 0 0 0-9.759-2.566c-7.905-1.277-14.187-.31-18.67 2.875-5.35 3.8-7.819 10.593-7.34 20.19.16 3.229 1.995 13.161 4.89 22.673 3.811 12.52 7.954 19.607 12.313 21.065.51.17 1.098.29 1.747.29 1.59 0 3.54-.719 5.568-3.164a201 201 0 0 1 7.674-8.707 12.34 12.34 0 0 0 5.52 1.489l.014.151q-.497.594-.973 1.206c-1.334 1.698-1.612 2.052-5.906 2.938-1.221.253-4.465.923-4.513 3.204-.052 2.491 3.835 3.538 4.277 3.648 1.543.388 3.03.579 4.448.579 3.447 0 6.482-1.136 8.906-3.335-.074 8.882.295 17.634 1.359 20.3.87 2.183 2.999 7.519 9.72 7.518.986 0 2.072-.115 3.266-.372 7.015-1.508 10.061-4.617 11.24-11.47.63-3.664 1.712-12.411 2.221-17.103 1.074.336 2.457.49 3.952.49 3.118 0 6.715-.665 8.972-1.715 2.534-1.18 7.108-4.077 6.279-6.593M79.038 28.933c-.024 1.385-.214 2.643-.415 3.956-.217 1.411-.442 2.87-.498 4.642-.056 1.725.16 3.517.367 5.251.42 3.502.85 7.107-.817 10.664q-.415-.739-.738-1.522c-.208-.504-.658-1.313-1.28-2.433-2.424-4.358-8.1-14.565-5.194-18.73.865-1.24 3.061-2.514 8.575-1.828M72.355 5.467c8.08.179 14.472 3.21 18.997 9.009 3.471 4.447-.35 24.686-11.415 42.145l-.336-.424-.14-.175c2.86-4.735 2.3-9.42 1.802-13.574-.204-1.704-.397-3.314-.348-4.827.05-1.602.262-2.977.467-4.306.25-1.638.506-3.333.436-5.332.053-.21.074-.457.046-.75-.18-1.917-2.361-7.652-6.808-12.842-2.432-2.839-5.98-6.016-10.822-8.159 2.083-.433 4.931-.836 8.12-.765M27.14 66.622c-2.234 2.694-3.777 2.177-4.285 2.008-3.306-1.106-7.143-8.114-10.526-19.227-2.927-9.615-4.637-19.285-4.773-21.996-.427-8.575 1.646-14.551 6.162-17.763 7.35-5.226 19.432-2.098 24.287-.511-.07.069-.142.133-.211.203-7.967 8.069-7.778 21.854-7.759 22.697 0 .325.027.785.064 1.418.137 2.319.392 6.634-.29 11.521-.633 4.541.763 8.986 3.83 12.195q.472.494.991.937a205 205 0 0 0-7.49 8.518m8.514-11.391c-2.471-2.587-3.594-6.184-3.08-9.872.72-5.162.454-9.658.311-12.073-.02-.338-.038-.635-.048-.868 1.164-1.035 6.558-3.933 10.404-3.05 1.755.404 2.825 1.603 3.27 3.664 2.301 10.674.304 15.122-1.3 18.697-.33.737-.643 1.433-.91 2.153l-.207.557c-.523 1.407-1.01 2.716-1.312 3.959-2.628-.008-5.184-1.134-7.128-3.168m.404 14.394c-.768-.192-1.458-.526-1.863-.803.339-.16.94-.377 1.984-.593 5.052-1.042 5.832-1.778 7.535-3.947.391-.498.834-1.061 1.447-1.748.914-1.026 1.332-.852 2.09-.537.613.254 1.211 1.026 1.454 1.875.114.401.243 1.163-.178 1.755-3.56 4.997-8.745 4.933-12.47 3.998m26.436 24.668c-6.18 1.328-8.368-1.834-9.81-5.448-.93-2.334-1.388-12.856-1.063-24.477a1.4 1.4 0 0 0-.06-.444 6 6 0 0 0-.173-.821c-.483-1.691-1.659-3.106-3.07-3.692-.56-.233-1.589-.66-2.825-.343.264-1.09.72-2.32 1.217-3.651l.208-.56c.234-.632.528-1.287.838-1.98 1.68-3.74 3.978-8.863 1.483-20.436-.935-4.335-4.056-6.452-8.789-5.96-2.836.294-5.432 1.442-6.727 2.1-.278.141-.532.278-.77.41.361-4.367 1.726-12.53 6.832-17.694C43 8.045 47.281 6.439 52.498 6.526c10.28.168 16.871 5.458 20.591 9.866 3.206 3.799 4.942 7.625 5.635 9.69-5.21-.532-8.753.499-10.55 3.074-3.907 5.601 2.138 16.473 5.044 21.698.533.957.993 1.785 1.137 2.136.946 2.3 2.171 3.835 3.065 4.955.275.343.54.677.743.967-1.578.457-4.412 1.51-4.154 6.779-.208 2.643-1.69 15.02-2.442 19.392-.994 5.776-3.114 7.928-9.074 9.21m25.795-29.6c-1.614.751-4.314 1.315-6.879 1.436-2.833.133-4.275-.319-4.615-.596-.159-3.283 1.06-3.626 2.35-3.99.202-.056.4-.112.59-.179q.179.146.391.287c2.277 1.507 6.339 1.67 12.073.483l.063-.013c-.774.726-2.097 1.699-3.974 2.572"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100">
                  <path fill="#7c4dff" d="M7.373,11.443C7.293,9.132,9.094,7,11.529,7h24.946c2.435,0,4.236,2.132,4.155,4.443	c-0.077,2.221,0.023,5.097,0.747,7.443c0.726,2.353,1.951,3.84,3.957,4.031v2.167c-2.006,0.191-3.23,1.678-3.957,4.031	c-0.724,2.345-0.824,5.222-0.747,7.443C40.71,38.868,38.909,41,36.475,41H11.529c-2.434,0-4.236-2.132-4.155-4.443	c0.077-2.221-0.023-5.097-0.747-7.443c-0.726-2.353-1.954-3.84-3.96-4.031v-2.167c2.006-0.191,3.233-1.678,3.96-4.031	C7.35,16.54,7.451,13.664,7.373,11.443z"></path><path fill="#fff" d="M27.073,23.464v-0.028c1.853-0.32,3.299-2.057,3.299-3.97c0-1.352-0.52-2.498-1.504-3.312	c-0.981-0.812-2.357-1.241-3.981-1.241H17.45V33.08h7.475c1.942,0,3.555-0.474,4.663-1.372c1.109-0.899,1.696-2.207,1.696-3.783	C31.283,25.544,29.593,23.756,27.073,23.464z M23.59,22.608h-3.181V17.29h3.784c2.076,0,3.219,0.911,3.219,2.565	C27.413,21.63,26.055,22.608,23.59,22.608z M20.409,24.834h3.759c2.716,0,4.092,0.981,4.092,2.916c0,1.932-1.357,2.953-3.925,2.953	h-3.926V24.834z"></path>
                </svg>
              </strong></span>
          </div> %>
      </div>
       %>
    </div>
  </div>
</div>
</section>
