<div class="justify-content-center banner mb-5">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Hi, I'm <span class="typed"></span><span class="cursor">|</span></h1>
    <h2 class="fs-3 fw-bold">Full-stack Engineer</h2>
    <div class="col-12">
      <div class="contact">
        <div class="d-flex justify-content-center flex-wrap">
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <%= mail_to "yusekiguchi.dev@gmail.com", "", class: 'button-social-link' %>
          </div>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-github"></i>
            <%= link_to "", "https://github.com/yu2111", target: '_blank', class: 'button-social-link' %>
          </div>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-linkedin"></i>
            <%= link_to "", "https://www.linkedin.com/in/yu-sekiguchi/", target: '_blank', class: 'button-social-link' %>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <a href="/Resume.pdf" target="_blank" class="btn btn-warning rounded-pill" download>
        <i class="fa-solid fa-file-arrow-down"></i> Download Resume
      </a>
    </div>
  </div>
</div>
<script>
  let txt = "Yu Sekiguchi";
  let i = 0;
  let speed = 100;
  let eraseSpeed = 50;
  let delay = 1000;

  function typeWriter() {
   let typed = document.querySelector(".typed");

   if (i < txt.length) {
     typed.innerHTML += txt.charAt(i);
     i++;
     setTimeout(typeWriter, speed);
   } else {
     setTimeout(deleteWriter, delay);
   }
  }

  function deleteWriter() {
   let typed = document.querySelector(".typed");

   if (i > 0) {
     typed.innerHTML = txt.substring(0, i - 1);
     i--;
     setTimeout(deleteWriter, eraseSpeed);
   } else {
     setTimeout(typeWriter, speed);
   }
  }

  document.addEventListener("DOMContentLoaded", function () {
    typeWriter();
  });
</script>
