<div class="justify-content-center banner">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'yu500.png', alt: "profile photo", class: 'avatar mb-3' %>
    <h1 class="title-main">Yu Sekiguchi</h1>
    <h2 class="fs-3 fw-bold">Full-stack Engineer</h2>
    <div class="col-12">
      <div id="contact">
        <div class="d-flex justify-content-center flex-wrap">
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <%= mail_to "yusekiguchi.dev@gmail.com", "", class: 'button-social-link' %>
          </div>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-github"></i>
            <%= link_to "", "https://github.com/yu2111", target: '_blank', class: 'button-social-link' %>
          </div>
          <div class="button-social d-flex flex-column justify-content-center align-items-center">
            <i class="fa-brands fa-linkedin"></i>
            <%= link_to "", "https://www.linkedin.com/in/yu-sekiguchi/", target: '_blank', class: 'button-social-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
