.banner {
  position: sticky;
  color: rgb(250, 242, 229);
  top: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../../images/background.png);
  background-size: cover;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  font-weight: 300;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
